@charset "UTF-8";
/* CSS Document */
body {
    font-family: 'EB Garamond';font-size: 22px;
	background-color:#f3f3f3;
}


.MainLogo {
	
	max-width:1200px;
	margin:auto;
	text-align: center;
}

.MainLogo  img {
	width:100%;
	max-width:500px;
}


.JobTitle{
	font-weight:bold;
	text-align: center;
	font-size: 30px;
	margin-top:-60px;
	color:#afaea8;
}

.IntroText{
	text-align: center;
	font-size:30px;
	max-width:800px;
	line-height:1.2;
	margin:auto;
	padding:30px;
padding-top:80px;
	padding-bottom:60px;
}


.BoxImage img{
	width:100%;
	max-width:450px;
	padding:20px;
	border-radius:40px;
	
}



.BoxesWrapper{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.BoxText {
	    text-align: center;
    margin-bottom: 40px;
	margin-top:-10px;
}

.BoxText a{
	text-decoration: none;
	color:#000;
}

.TopLinks{
	text-align: center;
}

.TopLinks a{
	color:#686868;
	text-decoration:none;
	padding:10px;
}

.TopLinks a:hover{
	text-decoration:underline;
}


/* Page Styles */
.TopLinks{
	text-align: center;
		background-color: #f3f3f3;
		padding-top:10px;
}

.TopLinks a{
	color:#686868;
	text-decoration:none;
	padding:10px;
	font-size:22px;
}

.TopLinks a:hover{
	text-decoration:underline;
}

	
	.ContentWrapper {
	    background-color: #f3f3f3;
}
	
	.ProjectTitle{
		 font-family: 'EB Garamond';font-size: 30px;
		font-weight:500;
		text-align: center;
		padding:10px;
		padding-top:50px;
		margin-bottom:20px;
		
	}

	.ProjectDescription{
		 font-family: 'EB Garamond';font-size:25px;
		text-align: center;
		max-width:1300px;
		margin: auto;
		padding:10px;
		
	}
	
	.ImageContainer{
		padding:30px;
	}
	
	.ImageContainer img{
		width:100%;
		max-width: 500px;
	}
	
	.ImageWrapper {
		
		padding-top:40px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

.Footer{
	text-align: center;
	padding:30px;
	font-size:18px;
	color:#afaea8;
}

@media only screen and (max-width:700px){
	
	.BoxImage img{
		    max-width: -webkit-fill-available;
	}
	
	.JobTitle{
		font-size:24px;
	}
	
    .IntroText {
        text-align: center;
        font-size: 27px;
        max-width: 550px;
        line-height: 1.2;
        margin: auto;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
	
	.ProjectDescription {
font-family: 'EB Garamond';
        font-size: 21px;
        text-align: center;
        max-width: 1300px;
        margin: auto;
        padding: 40px;
        padding-top: 20px;
}
	
	.ProjectTitle{
		font-size:37px;
		margin-bottom:0px;
	}
	
	.ImageWrapper{
		padding-top:0px;
	}
}

.gallery-item {
     overflow: hidden;
	 padding:4px;
 }

 .gallery-item img {
     width: 100%;
     height: auto;
     display: block;
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.9);
 }

 .modal-content {
     margin: auto;
     display: block;
     max-width: 90%;
     max-height: 90%;
 }

 .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
 }

 .close:hover,
 .close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
 }
	   
	   .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
		   justify-content: center;
		   padding-top:50px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
